<div class="container pt-5 pb-4">
<h1>Welcome {{ session.name}}</h1>
<p>This is your security site</p>
</div>

<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
            <div class="text-center">
                <img style="width: 150px " src="https://www.ipcenter.es/large/C%C3%A1mara-Bullet-4-en1-%28HDCVI%2C-HDTVI%2C-AHD%2C-CVBS%29-Resoluci%C3%B3n-720P-%C3%93ptica-varifocal-Leds-infrarrojos-40-metros-i21260.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Cams</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="text-center">
                <img style="width: 150px " src="https://www.01seguridad.com.ar/image/cache/catalog/10053/10053-1-sensor-detector-movimiento-digital-con-cruce-x28-md85r-mpxh-500x500.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Sensors</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="text-center">
                <img style="width: 150px " src="https://safeonecajasfuertes.com/wp-content/uploads/2017/08/gas-500x500.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Security Box</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
